<!DOCTYPE html>
<strong>ADD A PLAYER </strong>
<form method="POST" action="/add-player">
	Team to Add Player to (Location and Mascot) : <input type="text" name="team"> <br>
	Player Name:  <input type="text" name="name"> <br>
	Player Height: <input type="text" name="height"> <br>
	Player Weight: <input type="text" name="weight"> <br>
	Player Position: <input type="text" name="position"> <br>
	Player Skills : <input type="text" name="skills"> <br>
	<input type="submit">	
</form>
</html>