<!DOCTYPE html>
<strong>ADD A PLAYER </strong>
<form method="POST" action="/add-player">
	Team to Add Player to (Location and Mascot) : <input type="text" name="team">
	Player Name:  <input type="text" name="name">
	Player Height: <input type="text" name="height">
	Player Weight: <input type="text" name="weight">
	Player Position: <input type="text" name="position">
	Player Skills : <input type="text" name="skills">
	<input type="submit">	
</form>
</html>