<!DOCTYPE html>
<h1> <strong> ALL TEAMS: </strong></h1>

<ul>
{{#each teams}}
	<li> <strong> {{this.location}} {{this.mascot}} </strong> </li>
	{{#each roster}}
	<li>{{this.name}} {{this.position}}</li>
	{{/each}}
	<br>
{{/each}}
</ul>

<a href="/add-player"> Add a Player </a>
</html>