<!DOCTYPE html>
<strong>CREATE YOUR TEAM </strong>
<form method="POST" action="/create-team">
	Team Location: <input type="text" name="location">
	Team Mascot: <input type="text" name="mascot">
	Team Color 1: <input type="text" name="color1">
	Team Color 2: <input type="text" name="color2">
	Team Coach: <input type="text" name="coach">
	<input type="submit">	
</form>
</html>