<!DOCTYPE html>
<h1><strong>CREATE YOUR TEAM </strong></h1>
<h2> {{message}} </h2>
<form method="POST" action="">
	Team Location: <input type="text" name="location"> <br>
	Team Mascot: <input type="text" name="mascot"> <br>
	Team Coach: <input type="text" name="coach"> <br>
	Team Color 1: <input type="text" name="color1"> <br>
	Team Color 2: <input type="text" name="color2"> <br>
	<input type="submit">	
</form>
<br>
<a href="/allteams"> Team Summary </a> 
</html>