<!DOCTYPE html>
<strong>CREATE YOUR TEAM </strong>
<form method="POST" action="/create-team">
	Team Location: <input type="text" name="location"> <br>
	Team Mascot: <input type="text" name="mascot"> <br>
	Team Color 1: <input type="text" name="color1"> <br>
	Team Color 2: <input type="text" name="color2"> <br>
	Team Coach: <input type="text" name="coach"> <br>
	<input type="submit">	
</form>
</html>