<!DOCTYPE html>
<header id="homepage"> <strong> Welcome to MyNBA GM </strong> </header>
<h1 id="homepage"> Login or Register below <br></h1>
<a id="homebutton" href="/login"> LOGIN</a> <a id="homebutton" href="/register"> REGISTER </a>
</html>