<!DOCTYPE html>
<head>
	<title>NBA myGM</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	 <header>
 		<img src="/img/nbalogo.png" alt="NBA myGM" />
 	</header>

		
		{{{body}}}
</body>
</html>
