<!DOCTYPE html>

<h1><strong> REGISTER </strong></h1>
<h2> {{message}} </h2>

<form method="POST" action="">
	Username: <input type="text" name="username">
	Password: <input type="password" name="password">
	<input type="submit">	
</form>
<br>
<a href="/"> Home Page</a> 
</html>