<!DOCTYPE html>
<h1> <strong>REMOVE A PLAYER</strong> </h1>
<h2> {{message}} </h2>
<form method="POST" action="">
	Team to Remove Player From (Location and Mascot) : <input type="text" name="team"> <br>
	Player Name:  <input type="text" name="name"> <br>
	<input type="submit">	
</form>
<br>
<a href="/allteams"> Team Summary </a> 

</html>