/* main.css */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 50%;
}

#homepage {
	color: black;
  	font-family: candara;
  	font-size: 180%;
  	text-align: center;
}

#homebutton {

	padding: 8px;
	color: white;
	outline: none;
  	text-decoration: none;
  	display: block;
  	margin-top: 8px;
  	margin-bottom: 8px;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	text-align: center;
  	line-height: 2;
  
}

h1 {
  	color: black;
  	font-family: candara;
  	font-size: 200%;
  	text-align: left;
}


h2 {
	color: black;
  	font-family: candara;
  	font-size: 150%;
	text-align: left;
}

ol {
	color: black;
  	font-family: candara;
  	font-size: 130%;
}

ul {
	list-style-type: square;
	margin: 50;
	padding: 100;
	overflow: hidden;
	text-align: left;
}

#home {
	float: left;
	color: black;
	padding: 8px;
	text-align: left;
}

li {
	color: black;
	text-align: left;
	padding: 0;
	margin: 8px;
}

p {
	color: black;
	text-align: left;
	padding: 0;
	margin: 0;
}

a {
	padding: 8px;
	color: white;
	outline: none;
  	text-decoration: none;
  	display: inline-block;
  	width: 10%;
  	margin-right: 0.625%;
  	text-align: center;
  	line-height: 1;
  
}

a:link, a:visited, a:focus {
  	background: mediumblue;
}

a:hover {     
  	background: red;
}


form {
	color: black;
}

input {
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
}


input[type=button], input[type=submit], input[type=reset] {
  background-color: white;
  border: 2px solid mediumblue;
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  margin: 7px 2px;
  cursor: pointer;
  font-size: 115%;
  width: 15%;
  text-align: center;
  justify-content: center;
}






